@page
@model ControleEstoqueW.Pages.Produtos.DetailModel
@{ }
<div class="row">
    <div class="col-md-12">
        <img class="mx-auto d-block" src="@Html.DisplayFor(model => Model.Produto.Imagem)"
             alt="Imagem do @Html.DisplayFor(model => Model.Produto.Descricao)" />
        <h1 class="text-center">@Html.DisplayFor(model => Model.Produto.Descricao)</h1>
    </div>
    <hr />
    <div class="col-md-6">
        <h3>Status: @Html.DisplayFor(model => Model.Produto.Status)</h3>
    </div>
    <div class="col-md-6">
        <h3>Descrição: @Html.DisplayFor(model => Model.Produto.Descricao)</h3>
    </div>
    <div class="col-md-6">
        <h3>Categoria: @Html.DisplayFor(model => Model.Produto.Categoria)</h3>
    </div>
    <div class="col-md-6">
        <h3>Quantidade: @Html.DisplayFor(model => Model.Produto.Quantidade)</h3>
    </div>
    <div class="col-md-6">
        <h3>Custo: @Html.DisplayFor(model => Model.Produto.Custo)</h3>
    </div>
    <div class="col-md-6">
        <h3>Imagem: @Html.DisplayFor(model => Model.Produto.Imagem)</h3>
    </div>
</div>
<div class="row">
    <a class="btn btn-outline-primary"
       asp-page="/Produtos/Edit"
       asp-route-id="@Model.Produto.ID">Editar</a>
    <a class="btn btn-outline-danger"
       asp-page="/Produtos/Delete"
       asp-route-id="@Model.Produto.ID">Deletar</a>
</div>