@page
@model IndexModel
@{ ViewData["Title"] = "Início"; }

<!-- Google Fontes -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/FrontEnd/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/FrontEnd/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/FrontEnd/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Tema  -->
<link rel="stylesheet" href="~FrontEnd/dist/css/adminlte.min.css">

<div class="container">

    <div class="row">
        <div class="col-lg-3 col-3">

            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@Model.contador<sup class="titulo-quadro"> Geral</sup></h3>

                    <p>Total Categorias</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-3">

            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@Model.ContadorFeminino<sup class="titulo-quadro"> Feminino</sup></h3>

                    <p>Categoria Feminino</p>
                </div>
                <div class="icon">
                    <i class="ion ion-woman"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-3">

            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@Model.ContadorMasculino<sup class="titulo-quadro"> Masculino</sup></h3>

                    <p>Categoria Masculino</p>
                </div>
                <div class="icon">
                    <i class="ion ion-man"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-3">

            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@Model.ContadorInfantil<sup class="titulo-quadro"> Infantil</sup></h3>

                    <p>Categoria Infantil</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-body"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Produtos em estoque</h3>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="tabelaProdutos" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Imagem</th>
                                <th>Descrição do Produto</th>
                                <th>Categoria</th>
                                <th>Preço(R$)</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.Produtos)
                            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => data.ID)</td>
                    <td>
                        <img src="~/Images/@Html.DisplayFor(modelItem => data.Imagem)" class="img-circle img-size-32 mr-2"
                             alt="@Html.DisplayFor(modelItem => data.Imagem)" />
                    </td>
                    <td style="text-transform: capitalize;">@Html.DisplayFor(modelItem => data.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => data.Categoria)</td>
                    <td>@Html.DisplayFor(modelItem => data.Custo)</td>
                    <td>@Html.DisplayFor(modelItem => data.Quantidade)</td>
                </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  <h1 class="text-center">
            Lista de Produtos
            <a class="btn btn-outline-primary align-content-end" asp-area="" asp-page="/Produtos/Create">Criar</a>
        </h1>
        <section class="d-flex">
            @foreach (var data in Model.Produtos)
            {
    <div class="pokemon-picture">
        <img src="@Html.DisplayFor(modelItem => data.Imagem)"
             alt="Imagem do @Html.DisplayFor(modelItem => data.Descricao)" />
    </div>
                    <div class="pokemon-info">
                        <h2>Id: @Html.DisplayFor(modelItem => data.ID)</h2>
                        <h3>Status: @Html.DisplayFor(modelItem => data.Status)</h3>
                        <h3>Descrição: @Html.DisplayFor(modelItem => data.Descricao)</h3>
                        <h3>Categoria: @Html.DisplayFor(modelItem => data.Categoria)</h3>
                        <h3>Quantidade: @Html.DisplayFor(modelItem => data.Quantidade)</h3>
                        <h3>Custo: @Html.DisplayFor(modelItem => data.Custo)</h3>
                        <h3>Imagem: @Html.DisplayFor(modelItem => data.Imagem)</h3>
                    </div>
                                    <a class="btn btn-info"
                                       asp-page="/Produtos/Detail"
                                       asp-route-id="@data.ID">Detalhes</a>

                                       }
        </section> -->

</div>


<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/jszip/jszip.min.js"></script>
<script src="~/FrontEnd/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/FrontEnd/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>

<script>

    //    alert(document.getElementById(#tabelaProdutos).rows[0].cells.lenght);

    //Traduzindo para Português Brasil
    $('#tabelaProdutos').DataTable({
        "language": {
            "sProcessing": "Processando...",
            "sLengthMenu": "Mostrar _MENU_ registros por vez.",
            "sZeroRecords": "Nada encontrado.",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando de _START_ a _END_, total de _TOTAL_ registros.",
            "sInfoEmpty": "Mostrando registros de 0 a 0 de um total de 0 registros.",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar produto:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Carregando...",
            "oPaginate": {
                "sFirst": "Primeiro",
                "sLast": "Último",
                "sNext": "Seguinte",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Ative para ordenar de maneira ascendente",
                "sSortDescending": ": Ative para ordenar de maneira descendente"
            }
        }
    });

</script>

